@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family:  'Raleway', sans-serif;
}